* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 60px 15%;
  transition: .4s padding ease-in-out;

  @include responsive(tab-port) {
    padding: 60px 30px;
  }
}
